*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Sans-Serif;
    
}
header {
    height: 100vh;
    background: url("4cd5a8e1c4274bd8bef8d81a0a4fde55.jpg") no-repeat center/cover;
}

/*Componet 1*/
.head{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
}
.title h1{
    color: white;
    padding-left: 50px; 
    font-size: 25px;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding-right: 50px;
    display: flex; /* Quan trọng: xếp các li (mục menu) theo hàng ngang */
}

.menu li {
    margin-left: 50px; /* Tạo khoảng cách giữa các mục menu */
}

.menu a {
    color: white;
    text-decoration: none;
}

/*Componet 2*/
.aboutme{

    display: flex;
    align-items: center; 
    justify-content: center;
    height: 70vh;
    margin: 50px 50px 0 50px;


}
.text{
    color: white;
    font-size: 25px;
    align-items: center;
    height: 50vh;
    width: 50vh;
    text-align: right;
    padding: 100px 20px 0 0 ;
} 
.highlight-name {
    background: -webkit-linear-gradient(white, #1973D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text b{
    font-size: small;
}

/* 1. Container sử dụng Flexbox */
.social-media-container {
    margin-top: 20px;
    display: flex; /* Sắp xếp các phần tử con trên một hàng ngang */
    align-items: center; /* Căn giữa chúng theo chiều dọc */
    justify-content: right;
}

.social-media-container a {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    border: 2px solid white; 
    margin: 0 10px; 
    font-size: 1.2em; /* Kích thước của icon bên trong (LinkedIn, Facebook, ...) */
    color: white; /* Màu tím đậm cho icon */
    text-decoration: none;
}

.avatar{
    width: 500px;
    height: 500px;
    margin-left: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /* Inner blue/dark blue gradient/shadow to match the image's background */
    box-shadow: 
    0 0 15px 5px #1973D1, /* Lớp sáng ngoài mờ nhạt hơn */
    0 0 30px 10px #1973D1;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%; /* Ensures the image is circular */
}

/* SKILLS*/
.skills{
    display: block;
    margin-top: 20px;
    justify-content: space-around;

}
.skills h1{
    font-size: 30px;
    text-align: center;
}

.skills img{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    height: 200px;
    object-fit: contain;
}
